[submodule "ProtomorphBG/submodules/fontawesome.pri"]
	path = old-src/ProtomorphBG/submodules/fontawesome.pri
	url = https://github.com/Guitarheroua/fontawesome.pri.git
[submodule "ProtomorphBG/submodules/protomorph-bg-icons"]
	path = old-src/ProtomorphBG/submodules/protomorph-bg-icons
	url = https://github.com/Guitarheroua/protomorph-bg-icons.git
[submodule "ProtomorphBG/submodules/quickflux"]
	path = old-src/ProtomorphBG/submodules/quickflux
	url = https://github.com/Guitarheroua/quickflux.git
